name: ⚙️ Lint

on:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4.1.7
            - uses: taiga-family/ci/actions/setup/node@v1.57.3
            - run: npm run prettier -- --check

concurrency:
    group: lint-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
